* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 25px;
  background-color: black;
}

.calculator {
  background: white;
  border-radius: 50px;
  color: white;
  height: 1218px;
  padding: 20px;
  position: relative;
  width: 563px;
}

.top-container {
  display: flex;
  height: 250px;
  justify-content: space-between;
  padding: 0 20px;
}

.value {
  font-size: 130px;
  font-weight: 300;
  height: 158px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 75%;
  text-align: right;
  color: #fff;
  background-color: red !important;
}

/* .buttons-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
} */

.button {
  align-items: center;
  background: #333;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  transition: filter .3s;
  width: 110px;
}

.button.function {
  color: black;
  background: #a5a5a5;
}

.button.operator {
  background: rgb(255, 123, 0);
}

.button.number-0 {
  /* border-radius: 55px; */
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 40px;
  
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.bottom {
  width: 200px;
  height: 5px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.button-wrapper{
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

}
.equal{
  background-color: green !important;
}
#display{
background-color: black;
color :#fff;
display: block;
margin-bottom: 80px;
font-size: 40px;
text-align: right;

}
